<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 text-center">
    </div>

    <div class="col-xs-4 text-center">
      <%if user_signed_in? %>
        <h2>All Books:</h2>
          <% @books.each do |book|%>
          <div class="element">
            <h4><%= link_to "#{book.title} #{book.author} #{book.publishing_date}",
            book_path(book)%>
            <%unless book.active?%>
              /Book is inactive<%end%>
              <%unless book.to_borrow?%>
              /Book is borrowed<%end%>  </h4>
          </div>
          <%end%>
        <%else%>
          <h2><See you later! </br>
            Back soon!</h2>
        <%end%>
      </div>

    <div class="col-xs-4 text-center">
    </div>

  </div>
</div>
